/* CSS Document */
/*
Wood:
#F2B035
#F2A341
#BF702A
#A6592D
#734631
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
	font-size: 100.01%;
	background:transparent
}
imput, select, th, td li li, li p, td p, blockquote p { font-size : 1em;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body {
font : 62.5% Verdana, Tahoma, Geneva, sans-serif;
line-height : 1.7em;
background : #A6592D url("images/desk-background.jpg") repeat-x top center ;
}
h1 {
font : 2em "Courier New", Courier, monospace;
margin-bottom : 0.85em;
margin : 0 300px 10px 70px;
background : #ffffff;
text-align : center;
}
h2 {
font : 1.9em "Courier New", Courier, monospace;
margin-bottom : 0.894736842em;
}
h3, h4, h5, h6 {
font : 1.8em "Courier New", Courier, monospace;
margin-bottom : 0.944444444em;
}
a:link {color:#734631}    
a:visited {color:#A6592D}  
a:focus {color:#BF702A} 
a:hover {color:#BF702A}  
a:active {color:#BF702A} 
#content .node .content ol,
#content  .node .content ul {
font-size : 1.2em;
margin : 0 0 1.41666667em 60px;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.8); 
}
blockquote {
margin-left : 60px;
padding-left : 10px;
border-left : 1px solid #3F4F4F;
}
blockquote p{
background : url("images/white-background.gif") repeat-y center center;
}
q {
background : #ffffff;
}
q:before,
q:after {
content:'"';
}
strong {
font-weight : bold;
}
em {
font-style : italic;
}
sub {
vertical-align : sub;
font-size : 0.98em;
}
sup {
vertical-align : super;
font-size : 0.98em;
}
strike, s {
text-decoration:line-through;
}
cite {
font-style : italic;
font-weight : bold;
}
abbr, acronym {
color: #000000; 
text-decoration: none; 
border-bottom: 0;
} 
#content .node .content img {
float : left;
margin : 10px 10px 10px 0;
}

/* Tabs */

.tabs .tabs{
font-size : 1.2em;
}
#wrapper {
width : 970px;
margin : 10px auto;
padding-bottom : 10px;
background : url("images/envelope.png") no-repeat center 40px;
background : url("images/envelope.png") no-repeat center 40px, url("images/coffee-stains.png") no-repeat center right, url("images/sticky-tape.png") no-repeat 45% left;
border : 2px solid #734631;
-moz-border-bottom-colors: #BF702A #734631;
-moz-border-top-colors:   #BF702A #734631;
-moz-border-left-colors:   #BF702A #734631;
-moz-border-right-colors:  #BF702A #734631;
-moz-border-radius : 10px;
-webkit-border-radius : 10px;
border-radius: 10px;
}
#header {
width : 950px;
margin : 10px;
clear : both;
background : url("images/new-header.png") no-repeat top right;
}

/* breadcrumb */

#breadcrumb {
margin-bottom : 10px;
background : #A6592D;
background: -webkit-gradient(linear, 60% 0%, 100% 0%, from(rgba(166,89,45,1.0)), to(rgba(166,89,45,0.1)));
background: -moz-linear-gradient(center left, rgba(166,89,45,1.0), rgba(166,89,45,0.3));
color : #ffffff;
font-size : 1.1em;
border : 1px solid #BF702A;
padding : 0 0 5px 5px;
}
#breadcrumb a {
color : white;
}
#breadcrumb a:hover {
text-decoration : blink;
border-bottom : 4px double #ffffff;
}
.breadcrumb {
margin : 0;
padding : 0;
}

/* Top navigation menu */

.navigation {
margin-bottom : 10px;
background : #A6592D;
background: -webkit-gradient(linear, 60% 0%, 100% 0%, from(rgba(166,89,45,1.0)), to(rgba(166,89,45,0.1)));
background: -moz-linear-gradient(center left, rgba(166,89,45,1.0), rgba(166,89,45,0.3));
background: -moz-linear-gradient(center left, rgba(166,89,45,1.0), rgba(166,89,45,0.3));
font-size : 1.1em;
padding : 5px 0 5px 0;
border : 1px solid #F2A341;
}
.navigation a {
color : white;
}
.navigation a:hover {
text-decoration : blink;
border-bottom : 4px double #ffffff;
background : url("images/a-background-one.png") repeat-y center center;
}
.navigation ul li + li {
border-left:1px solid #000;
}
#logo-name {
margin-bottom : 10px;
}
#logo {
width : 230px;
margin : 0 10px 10px 0;
float : left;
opacity: 0.75;
cursor:pointer;	
}			
#logo:hover {
opacity: 1.0;
cursor:pointer;
}
#site-name {
width : 710px;
float : left;
}

/* Primary menu */

#primary {
text-align : right;
padding : 5px 0 5px 0;
background : #A6592D;
background: -webkit-gradient(linear, 0 0%, 60% 0%, from(rgba(166,89,45,0.1)), to(rgba(166,89,45,1.0)));
background: -moz-linear-gradient(center left, rgba(166,89,45,0.3), rgba(166,89,45,1.0));
margin-bottom : 10px;
font-size : 1.2em;
clear : both;
border : 1px solid #F2A341;
}
#primary a {
color : white;
}
#primary a:hover {
text-decoration : blink;
border-bottom : 4px double #ffffff;
background : url("images/a-background-one.png") repeat-y center center;
}
#primary ul li + li {
border-left:1px solid #000;
}
#mission-search-tag {
width : 950px;
margin : 10px;
clear : both
}

/* Site slogan */

#tagline {
width : 546px;
text-align : center;
font : 1.5em "Courier New", Courier, monospace;
margin : 0 10px 10px 0;
padding : 5px 1px 10px 1px;
float : left;
background : #734631;
border : 1px inset #F2A341;
color : #ffffff;
white-space: nowrap; 
overflow: hidden;
overflow-x:-webkit-marquee;
-webkit-marquee-direction: backwards;
-webkit-marquee-style: alternate;
-webkit-marquee-speed: normal;
-webkit-marquee-increment: small;
-webkit-marquee-repetition: 1;
}

/* Search box */

#search-box {
width : 390px;
margin-bottom : 10px;
float : left;
text-align : right;
}
#search-box .form-text {
border : 1px solid #734631;
}
#search-box .form-submit {
vertical-align : top;
}
#search-box .form-submit:hover {
border-bottom : 4px double #ffffff;
}

/* Search block */

#search-block-form .form-text{
border : 1px solid #734631;
}
#search-block-form .form-submit {
background : #A6592D;
padding : 2px;
margin-top : 10px;
border : 1px solid #F2A341;
opacity: 0.8;
cursor:pointer;
}
#search-block-form .form-submit:hover {
opacity: 1;
cursor:pointer;
}
#mission {
background : #734631;
color : #ffffff;
font-size : 1.3em;
padding : 1px;
margin-bottom : 10px;
clear : both;
border : 1px solid #F2A341;
}
#container {
width : 950px;
margin : 10px;
clear : both;
}
#left {
width : 230px;
margin : 0 10px 10px 0;
float : left;
}

/* Left block */

#left .block {
background : url("images/block-slice.jpg") repeat-y center center;
margin-bottom : 10px;
padding-right : 1px;
border : 3px solid #734631;
-moz-border-radius : 10px;
-webkit-border-radius : 10px;
border-radius: 10px;
-moz-border-bottom-colors: #F2B035 #ffffff #734631;
-moz-border-top-colors:  #F2B035 #ffffff #734631;
-moz-border-left-colors: #F2B035 #ffffff #734631;
-moz-border-right-colors: #F2B035 #ffffff #734631;
}
#left .block-title {
color : #A6592D;
font : bold 1.9em "Courier New", Courier, monospace;
margin : 10px 0 0.894736842em 10px;
}
#left .block .content {
font-size : 1.3em;
margin : 0 0 10px 10px;
}
#left a:hover {
text-decoration : none;
border-bottom : 1px dashed #BF702A;
}
#content {
width : 470px;
margin : 0 10px 10px 0;
float : left;
}
.no-right-column #content {
width : 710px;
margin : 0 0 10px 0;
float : left;
}

/* Pagination */

ul.pager {
font-size : 1.3em;
margin-bottom : 1.30769231em;
padding-top : 1.30769231em;
padding-bottom :  1.30769231em;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.7); 
border-top: 1px dashed #010D00;
}
ul.pager a:link {color:#734631}    
ul.pager a:visited {color:#A6592D}  
ul.pager a:focus {color:#BF702A} 
ul.pager a:hover {color:#BF702A;
text-decoration : none;
-o-transform: scale(1.05);
-moz-transform:  scale(1.05);
transform:  scale(1.05);
border-bottom : 1px dashed #BF702A;
}  
ul.pager a:active {color:#BF702A} 

/* Menu in blocks */

ul.menu li{
padding : 0;
list-style-image: none;
list-style-type : none;
padding-left : 20px;
margin-bottom : 5px;
}
ul.menu li ul li{
margin-top : 5px;
font-size : 1em;
}
ul.menu li a {
padding : 1px;
}
.block [class*="leaf"] {
background: url("images/x.png") no-repeat top left;
}
.block [class*="expanded"] {
background: url("images/plus.png") no-repeat top left;
}
.block [class*="collapsed"] {
background: url("images/plus.png") no-repeat top left;
}
.block a[class*="active"] {
background: url("images/arrow-left.png") no-repeat top right;
padding-right : 20px;
}
.node {
clear : both;
}

/* Front */

.front #content {
background : url("images/node-background.jpg")  left top;
}
.front #content .node-title {
font : 1.7em  "Courier New",Courier, monospace;
}
.front .meta {
width : 149px;
margin-right : 10px;
float : left;
font-size : 1.1em;
padding-left : 1px;
}
.front .submitted,
.front .terms,
.front .lower-node-links{
display : block;
margin-bottom :  1.54545455em;
padding-bottom :  1.54545455em;
border-bottom : 1px dashed #010D00;
padding-left : 1px;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.7); 
}
.front .comment_new_comments {
display : block;
}
.front .meta ul li {
padding-left : 0;
}
.front .node-content .content {
margin-top : 1.0625em;
}
.front .node-content {
width : 310px;
float : left;
margin-bottom : 1.0625em;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.7); 
}
.no-right-column .node-content{
width : 550px;
}
.front .node-content p{
font-size : 1.2em;
margin-bottom : 1.41666667em;
}
.front .readmore {
display : block;
text-align : right;
}
.front .node  a:hover {
text-decoration : none;
border-bottom : 1px dashed #BF702A;
}
.front .node .content a:hover {
-o-transform: scale(1.05);
-moz-transform:  scale(1.05);
transform:  scale(1.05);
}
.front a.readmore {
display : block;
text-align : right;
}
.front a.readmore:hover {
border-bottom : none;
}


/* Not Front */


.not-front #content {
background : url("images/node-background.jpg")  right top;
}
.not-front .meta {
font-size : 1.1em;
margin-bottom : 1.54545455em;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.8); 

}
.not-front .submitted {
display : block;
}
.not-front #content .node p {
font-size : 1.2em;
margin-bottom : 1.41666667em;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.8); 
padding : 0 1px 0 1px;
}
.not-front #content .node-bottom-links {
font-size : 1.1em;
margin-bottom : 1.54545455em;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.8); 
padding : 0 1px 0 1px;
}
.not-front #content .node-bottom-links ul li:first-child{
padding-left : 0;
}
.not-front .node a:hover {
text-decoration : none;
border-bottom : 1px dashed #BF702A;
}
.not-front .node .content a:hover {
-o-transform: scale(1.05);
-moz-transform:  scale(1.05);
transform:  scale(1.05);
}

/* Taxonomy */


.taxonomy-term-description {
font-size : 1.3em;
}
.page-taxonomy #content {
background : url("images/node-background.jpg")  left top;
width : 470px;
}
.page-taxonomy #content .node-title {
font : 1.7em  "Courier New",Courier, monospace;
}
.page-taxonomy .meta {
width : 149px;
margin-right : 10px;
float : left;
font-size : 1.1em;
padding-left : 1px;
}
.page-taxonomy .submitted,
.page-taxonomy .terms,
.page-taxonomy .lower-node-links{
display : block;
margin-bottom :  1.54545455em;
padding-bottom :  1.54545455em;
border-bottom : 1px dashed #010D00;
padding-left : 1px;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.7); 
}
.page-taxonomy .comment_new_comments {
display : block;
}
.page-taxonomy .meta ul li {
padding-left : 0;
}
.page-taxonomy .node-content .content {
margin-top : 1.0625em;
}
.page-taxonomy .node-content {
width : 310px;
float : left;
margin-bottom : 1.0625em;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.7); 
}
.page-taxonomy .node-content p{
font-size : 1.2em;
margin-bottom : 1.41666667em;
}
.page-taxonomy .readmore {
display : block;
text-align : right;
}
.page-taxonomy .node a:hover {
text-decoration : none;
border-bottom : 1px dashed #BF702A;
}
.page-taxonomy a.readmore {
display : block;
text-align : right;
}
.page-taxonomy a.readmore:hover {
border-bottom : none;
}

.page-contact #content,
.page-user #content{
background : none;
}

/* Blog */

.page-blog #content {
background : url("images/node-background.jpg")  left top;
width : 470px;
}
.page-blog #content .node-title {
font : 1.7em  "Courier New",Courier, monospace;
}
.page-blog .meta {
width : 149px;
margin-right : 10px;
float : left;
font-size : 1.1em;
padding-left : 1px;
}
.page-blog .submitted,
.page-blog .terms,
.page-blog .lower-node-links{
display : block;
margin-bottom :  1.54545455em;
padding-bottom :  1.54545455em;
border-bottom : 1px dashed #010D00;
padding-left : 1px;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.7); 
}
.page-blog .comment_new_comments {
display : block;
}
.page-blog .meta ul li {
padding-left : 0;
}
.page-blog .node-content .content {
margin-top : 1.0625em;
}
.page-blog .node-content {
width : 310px;
float : left;
margin-bottom : 1.0625em;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.7); 
}
.page-blog .node-content p{
font-size : 1.2em;
margin-bottom : 1.41666667em;
}
.page-blog .readmore {
display : block;
text-align : right;
}
.page-blog .node a:hover {
text-decoration : none;
border-bottom : 1px dashed #BF702A;
}
.page-blog a.readmore {
display : block;
text-align : right;
}
.page-blog a.readmore:hover {
border-bottom : none;
}

/* Content blocks */

#content #content-content .block {
background : #fefefe;
margin : 0 2px 10px 2px;
padding-right : 1px;
border : 3px solid #734631;
-moz-border-radius : 10px;
-webkit-border-radius : 10px;
border-radius: 10px;
-moz-border-bottom-colors: #F2B035 #ffffff #734631;
-moz-border-top-colors:  #F2B035 #ffffff #734631;
-moz-border-left-colors: #F2B035 #ffffff #734631;
-moz-border-right-colors: #F2B035 #ffffff #734631;
}
#content #content-content .block-title {
color : #A6592D;
font : bold 1.9em "Courier New", Courier, monospace;
margin-bottom : 0.894736842em;
margin-top : 10px;
margin-left : 10px;
}
#content #content-content .block .content {
font-size : 1.3em;
margin-left : 10px;
margin-bottom : 10px;
}

/* Comments */


#comments .comment-title {
font : 1.7em "Courier New", Courier, monospace;
background : rgb(255, 255, 255); 
border-top : 1px dashed #000000;
border-bottom : 1px solid #F2B035;
}
#comments .submitted {
font-size : 1.1em;
margin-top : 1em;
margin-bottom : 1.54545455em;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.8); 
}
#comments p {
font-size : 1.2em;
margin-bottom : 1.41666667em;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.8); 
}
#comments ul {
margin-bottom : 1.54545455em;
}
#comments ul li {
font-size : 1.1em;
margin-bottom : 3.0909091em;
list-style-type : inline;
float : left;
margin-right : 20px;
list-style-position : inside;
list-style-type : circle;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.8); 
}
#comment-form {
font-size : 1.2em;
}
#comment-form label {
font-weight : normal;
font-style : italic;
background: rgba(255, 255, 255, 0.6); 
padding : 1px 0 1px 0;
}
#comment-form textarea,
#comment-form .form-text{
border : 1px solid #A6592D;
border-top-right-radius: 10px;
 -moz-border-radius-topright: 10px;
-webkit-border-top-right-radius : 10px;
}
#comment-form .form-submit {
background : #734631;
color : #ffffff;
margin-top : 10px;
margin-bottom : 10px;
cursor : pointer;
}
#comment-form ul {
margin-left : 20px;
}
#comments .new {
font-size : 1.3em;
background : #A6592D;
color : #ffffff;
margin-right : 5px;
}

/* Forum */

#forum {
font-size : 1.2em;
}
#forum ul li.forum {
margin-left : 20px;
margin-bottom : 1.41666667em;
}
#forum table {
width : 100%;
}
#forum th{
font-weight : normal;
font-style : italic;
margin-bottom : 1.41666667em;
}
#forum .name {
margin-bottom : 1.41666667em;
}
.forum-topic-navigation a {
font-size : 1.1em;
background : #ffffff;
border : 1px dashed #000000;
}

/* aggregator */

#aggregator {
font-size : 1.2em;
padding : 0 2px 0 2px;
}
#aggregator ul {
margin-bottom : 1.41666667em;
}
#aggregator p {
margin-bottom : 1.41666667em;
}

/* User list */

.profile {
padding : 0 2px 0 2px;
font-size : 1.2em;
}

/* tracker */

#tracker {
font-size : 1.2em;
padding : 0 2px 0 2px;
}
#tracker table {
margin-bottom : 10px;
}

/* Poll */
.node .poll .text,
.node  .poll .percent,
.node  .poll .total {
font-size : 1.2em;
}
.node .poll .choices {
font-size : 1.2em;
}
.poll {
clear : both;
font-size : 1em;
padding : 0 2px 0 2px;
}
.poll .form-submit {
background : #734631;
color : #ffffff;
margin-bottom : 10px;
cursor : pointer;
}

/* Compose tips 
*/

#content ul.tips  {
font-size : 1em;
}
#filter-filter-0 ,
#filter-filter-1,
#filter-filter-2,
#filter-filter-3,
#filter-filter-4{
overflow : auto;
font-size : 1.2em;
margin-bottom : 1.41666667em;
padding : 0 2px 0 2px;
}
#filter-filter-0 code {
font-size : 1.2em;
}
#main #content ul {
margin-left : 20px;
}
#main #content ul li strong {
font-size : 1.2em;
margin-bottom : 1.41666667em;
padding : 0 2px 0 2px;
}
#comment-form .description ul.tips{
font-size : 1.1em;
}

/* Styling for Drupal attachments section */

.attachments {
overflow : auto;
}
#attachments {
font-size : 1.2em;
margin-bottom : 1.66666667em;
margin-left : 60px;
}
#attachments th {
font : 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
font-style : italic;
}
#attachments tbody {
border : 5px ridge #CCFFD3;
background : #00E8AE;
}
#attachments td {
padding: 5px 2px 5px 2px;
}
#attachments .odd {
border-bottom : 1px solid #010D00;
background : white;
padding-bottom : 5px;
}
#attachments .even {
border-bottom : 1px solid #010D00;
}
#content #content-content #attachments .even a {
background-color : #ffffff;
}

/* PDF file extension 

.pdf

*/

#content #attachments a[href$='.pdf'] {
  padding-right: 25px;
  background: url("images/application-pdf.png") no-repeat right;
}

/* Audio file extensions 

.aac, .cda, .fla, .flac, .m3u, .mp4, .m4a, .m4p, .mp3, .ogg, .wma, .wmv

*/

#content #attachments a[href$='.aac'], #content #attachments a[href$='.cda'], #content #attachments a[href$='.fla'], #content #attachments a[href$='.flac'], #content #attachments a[href$='.m3u'], #content #attachments a[href$='.mp4'], #content #attachments a[href$='.m4a'], #content #attachments a[href$='.m4p'], #content #attachments a[href$='.mp3'], #content #attachments a[href$='.ogg'], #content #attachments a[href$='.wma'], #content #attachments a[href$='.wmv']{
  padding-right: 25px;
  background: url("images/audio-x-generic.png") no-repeat right;
}

/* HTML file extensions 

.htm, .html

*/

#content #attachments a[href$='.html'], #content #attachments a[href$='.htm'] {
  padding-right: 25px;
  background: url("images/text-html.png") no-repeat right;
}

/* Text file extensions 

.text, .txt, .info

*/

#content #attachments a[href$='.txt'], #content #attachments a[href$='.text'], #content #attachments a[href$='.info'] {
  padding-right: 25px;
  background: url("images/text-x-generic.png") no-repeat right;
}

/* Video file extensions 

.avi, .m4v, .mov, .mp4, .mpg, 

*/

#content #attachments a[href$='.avi'], #content #attachments a[href$='.m4v'], #content #attachments a[href$='.mov'], #content #attachments a[href$='.mp4'], #content #attachments a[href$='.mpg'] {
  padding-right: 25px;
  background: url("images/video-x-generic.png") no-repeat right;
}

/* Document file extensions

.doc, .dotm, .dotx, .sxw

*/

#content #attachments a[href$='.doc'], #content #attachments a[href$='.dotm'], #content #attachments a[href$='.dotx'], #content #attachments a[href$='.sxw'] {
  padding-right: 25px;
  background: url("images/x-office-document.png ") no-repeat right;
}

/* Presentation file extensions

.potx, .pps, .ppsm, .ppsx, .ppt, .pptm, .pptx

*/

#content #attachments a[href$='.potx'], #content #attachments a[href$='.pps'], #content #attachments a[href$='.ppsx'], #content #attachments a[href$='.ppt'], #content #attachments a[href$='.pptm'], #content #attachments a[href$='.pptx'] {
  padding-right: 25px;
  background: url("images/x-office-presentation.png ") no-repeat right;
}


/* Spreadsheet file extensions

.ods, .scx, .xls, .xlsm, .xlsx

*/

#content #attachments a[href$='.ods'], #content #attachments a[href$='.scx'], #content #attachments a[href$='.xls'], #content #attachments a[href$='.xlsm'], #content #attachments a[href$='.xlsx'] {
  padding-right: 25px;
  background: url("images/x-office-spreadsheet.png") no-repeat right;
}

/* Script file extensions

.asp, .aspx, .css, .inc, .ini, .js, .json, .lib, .php, .php3, .rc, 

*/

#content #attachments a[href$='.asp'], #content #attachments a[href$='.aspx'], #content #attachments a[href$='.css'], #content #attachments a[href$='.ini'], #content #attachments a[href$='.inc'],
#content #attachments a[href$='.js'], #content #attachments a[href$='.json'],  #content #attachments a[href$='.lib'], #content #attachments a[href$='.php'], #content #attachments a[href$='.php3'] , #content #attachments a[href$='.rc']{
  padding-right: 25px;
  background: url("images/text-x-script.png ") no-repeat right;
}

/* Compressed file extensions

.7z, .7zip, .ace, .arj, .gz, .rar, .zix, .zip

*/

#content #attachments a[href$='.7z'], #content #attachments a[href$='.7zip'], #content #attachments a[href$='.ace'], #content #attachments a[href$='.arj'], #content #attachments a[href$='.gz'], #content #attachments a[href$='.zix'], #content #attachments a[href$='.zip'] {
  padding-right: 25px;
  background: url("images/application-x-executable.png ") no-repeat right;
}

/* Graphics file extensions

.bmp, .eps, .gif, .ico, .iff, .png, .jpeg, .jpg, .svg, 

*/

#content #attachments a[href$='.bmp'], #content #attachments a[href$='.esp'], #content #attachments a[href$='.gif'], #content #attachments a[href$='.iff'], #content #attachments a[href$='.png'], #content #attachments a[href$='.jpeg'], #content #attachments a[href$='.jpg'], #content #attachments a[href$='.svg'] {
  padding-right: 25px;
  background: #ffffff url("images/image-x-generic.png ") no-repeat right;
}


/* User log in */

#user-login-form .form-required {
display : none;
}
#user-login-form .form-text {
border : 1px solid #734631;
}
#user-login-form .form-submit {
margin-bottom : 10px;
opacity: 0.8;
cursor:pointer;
}
#user-login-form .form-submit:hover {
border-bottom : 4px double #734631;
opacity: 1;
cursor:pointer;
}
#user-login-form ul,
#user-login-form ul li{
margin-left : 0;
padding-left : 0;
list-style-type : none;
}

/* Contact page */

#contact-mail-page {
font-size : 1.2em;
padding : 1px;
border : 1px solid #734631;
border-image:  url("images/wrapper-border.png") 1 stretch;
-moz-border-image:  url("images/wrapper-border.png") 1 stretch;
-webkit-border-image:  url("images/wrapper-border.png") 1 stretch;
}
#contact-mail-page label {
font-weight : normal;
font-style : italic;
background: rgba(255, 255, 255, 0.6); 
padding : 1px 0 1px 0;
}
#contact-mail-page textarea,
#contact-mail-page .form-text{
border : 1px solid #A6592D;
border-top-right-radius: 10px;
 -moz-border-radius-topright: 10px;
-webkit-border-top-right-radius : 10px;
}
#contact-mail-page .form-submit {
background : #734631;
color : #ffffff;
margin-bottom : 10px;
cursor : pointer;
}

/* User register */

#user-register {
font-size : 1.2em;
padding : 1px;
border : 1px solid #734631;
border-image:  url("images/wrapper-border.png") 1 stretch;
-moz-border-image:  url("images/wrapper-border.png") 1 stretch;
-webkit-border-image:  url("images/wrapper-border.png") 1 stretch;

}
#user-register label {
color : #ffffff;
font-weight : normal;
font-style : italic;
background : rgb(153, 102, 52);
background: rgba(153, 102, 52, 0.6); 
padding : 1px 0 1px 0;
margin-bottom : 1.41666667em;
}
#user-register textarea,
#user-register .form-text{
border : 1px solid #A6592D;
border-top-right-radius: 10px;
 -moz-border-radius-topright: 10px;
-webkit-border-top-right-radius : 10px;
}
#user-register .description {
font-size : 1em;
color : #ffffff;
background : rgb(153, 102, 52);
background: rgba(153, 102, 52, 0.6); 
margin : 0 10px 0 10px;
}
#user-register .form-submit {
background : #734631;
color : #ffffff;
margin-bottom : 10px;
cursor : pointer;
}

/* Log in */

#user-login {
font-size : 1.2em;
padding : 1px;
border : 1px solid #734631;
border-image:  url("images/wrapper-border.png") 1 stretch;
-moz-border-image:  url("images/wrapper-border.png") 1 stretch;
-webkit-border-image:  url("images/wrapper-border.png") 1 stretch;
}
#user-login label {
color : #ffffff;
font-weight : normal;
font-style : italic;
background : rgb(153, 102, 52);
background: rgba(153, 102, 52, 0.6); 
padding : 1px 0 1px 0;
margin-bottom : 1.41666667em;
}
#user-login textarea,
#user-login .form-text{
border : 1px solid #A6592D;
border-top-right-radius: 10px;
 -moz-border-radius-topright: 10px;
-webkit-border-top-right-radius : 10px;
}
#user-login .description {
font-size : 1em;
color : #ffffff;
background : rgb(153, 102, 52);
background: rgba(153, 102, 52, 0.6); 
margin : 0 10px 0 10px;
}
#user-login .form-submit {
background : #734631;
color : #ffffff;
margin-bottom : 10px;
cursor : pointer;
}

/* Email new password */

#user-pass {
font-size : 1.2em;
padding : 1px;
border : 1px solid #734631;
border-image:  url("images/wrapper-border.png") 1 stretch;
-moz-border-image:  url("images/wrapper-border.png") 1 stretch;
-webkit-border-image:  url("images/wrapper-border.png") 1 stretch;
}
#user-pass label {
color : #ffffff;
font-weight : normal;
font-style : italic;
background : rgb(153, 102, 52);
background: rgba(153, 102, 52, 0.6); 
padding : 1px 0 1px 0;
margin-bottom : 1.41666667em;
}
#user-pass textarea,
#user-pass .form-text{
border : 1px solid #A6592D;
border-top-right-radius: 10px;
 -moz-border-radius-topright: 10px;
-webkit-border-top-right-radius : 10px;
}
#user-pass .description {
font-size : 1em;
color : #ffffff;
background : rgb(153, 102, 52);
background: rgba(153, 102, 52, 0.6); 
margin : 0 10px 0 10px;
}
#user-pass .form-submit {
background : #734631;
color : #ffffff;
margin-bottom : 10px;
cursor : pointer;
}

/* User profile */

.profile {
background : rgb(255, 255, 255);
background : rgba(255, 255, 255, 0.7);
}
.profile dt{
font-size : 1.3em;
margin-bottom : 1.30769231em;
font-weight : normal;
font-style : italic;
}
.profile dd {
font-size : 1.2em;
}

/* Edit user profile */

#user-profile-form {
background : #ffffff;
font-size : 1.2em;
padding : 1px;
border : 1px solid #734631;
border-image:  url("images/wrapper-border.png") 1 stretch;
-moz-border-image:  url("images/wrapper-border.png") 1 stretch;
-webkit-border-image:  url("images/wrapper-border.png") 1 stretch;
}
#user-profile-form label {
color : #ffffff;
font-weight : normal;
font-style : italic;
background : rgb(153, 102, 52);
background: rgba(153, 102, 52, 0.6); 
padding : 1px 0 1px 0;
margin-bottom : 1.41666667em;
}
#user-profile-form textarea,
#user-profile-form .form-text{
border : 1px solid #A6592D;
border-top-right-radius: 10px;
 -moz-border-radius-topright: 10px;
-webkit-border-top-right-radius : 10px;
}
#user-profile-form .description {
font-size : 1em;
color : #ffffff;
background : rgb(153, 102, 52);
background: rgba(153, 102, 52, 0.6); 
margin : 0 10px 0 10px;
}
#user-profile-form .form-submit {
background : #734631;
color : #ffffff;
margin-bottom : 10px;
cursor : pointer;
}

/* Contact user */

#contact-mail-user {
background : #ffffff;
font-size : 1.2em;
padding : 1px;
border : 1px solid #734631;
border-image:  url("images/wrapper-border.png") 1 stretch;
-moz-border-image:  url("images/wrapper-border.png") 1 stretch;
-webkit-border-image:  url("images/wrapper-border.png") 1 stretch;
}
#contact-mail-user label {
color : #ffffff;
font-weight : normal;
font-style : italic;
background : rgb(153, 102, 52);
background: rgba(153, 102, 52, 0.6); 
padding : 1px 0 1px 0;
margin-bottom : 1.41666667em;
}
#contact-mail-user textarea,
#contact-mail-user .form-text{
border : 1px solid #A6592D;
border-top-right-radius: 10px;
 -moz-border-radius-topright: 10px;
-webkit-border-top-right-radius : 10px;
}
#contact-mail-user .description {
font-size : 1em;
color : #ffffff;
background : rgb(153, 102, 52);
background: rgba(153, 102, 52, 0.6); 
margin : 0 10px 0 10px;
}
#contact-mail-user .form-submit {
background : #734631;
color : #ffffff;
margin-bottom : 10px;
cursor : pointer;
}

/* Edit node */

.node-type-list {
font-size : 1.2em;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.7); 
}
.node-type-list dt,
.node-type-list dd{
margin-bottom : 1.41666667em;
}
#node-form {
background : #ffffff;
font-size : 1.2em;
padding : 1px;
border : 1px solid #734631;
border-image:  url("images/wrapper-border.png") 1 stretch;
-moz-border-image:  url("images/wrapper-border.png") 1 stretch;
-webkit-border-image:  url("images/wrapper-border.png") 1 stretch;
}
#node-form label {
color : #ffffff;
font-weight : normal;
font-style : italic;
background : rgb(153, 102, 52);
background: rgba(153, 102, 52, 0.6); 
padding : 1px 0 1px 0;
margin-bottom : 1.41666667em;
}
#node-form textarea,
#node-form .form-text{
border : 1px solid #A6592D;
border-top-right-radius: 10px;
 -moz-border-radius-topright: 10px;
-webkit-border-top-right-radius : 10px;
}
#node-form .description {
font-size : 1em;
color : #ffffff;
background : rgb(153, 102, 52);
background: rgba(153, 102, 52, 0.6); 
margin : 0 10px 0 10px;
}
#node-form .form-submit {
background : #734631;
color : #ffffff;
margin-bottom : 10px;
cursor : pointer;
}
#node-form .collapsible {
margin-bottom : 10px;
}
#search-form .form-submit {
background : #A6592D;
border : 1px solid #F2A341;
}
#search-form label {
font-size : 1.3em;
margin-bottom :  1.30769231em;
font-weight : normal;
font-style : italic;
}
#search-form .form-text {
border : 1px solid #A6592D;
border-top-right-radius: 10px;
 -moz-border-radius-topright: 10px;
-webkit-border-top-right-radius : 10px;
vertical-align : top;
}
#search-form .collapse-processed {
font-size : 1.2em;
}
#search-form .action .form-submit {
color : #ffffff;
}
#search-form .form-select {
font-size : 1.2em;
}
.box-title {
font : 1.8em "Courier New", Courier, monospace;
margin-bottom : 0.944444444em;
}
.search-results .title {
font : 1.8em "Courier New", Courier, monospace;
margin-bottom : 0.944444444em;
}
.search-results .search-snippet {
font-size : 1.2em;
margin-bottom : 1.41666667em;
background : rgb(255, 255, 255); 
background: rgba(255, 255, 255, 0.7); 
}
.search-results .search-info {
font-size : 1.1em;
margin-bottom : 1.54545455em;
}

/* Right column */

#right {
width : 230px;
float : left;
margin-bottom : 10px;
}

#right .block {
background : url("images/block-slice.jpg") repeat-y center center;
margin-bottom : 10px;
padding-right : 1px;
border : 3px solid #734631;
-moz-border-radius : 10px;
-webkit-border-radius : 10px;
border-radius: 10px;
-moz-border-bottom-colors: #F2B035 #ffffff #734631;
-moz-border-top-colors:  #F2B035 #ffffff #734631;
-moz-border-left-colors: #F2B035 #ffffff #734631;
-moz-border-right-colors: #F2B035 #ffffff #734631;
}
#right .block-title {
color : #A6592D;
font : bold 1.9em "Courier New", Courier, monospace;
margin-bottom : 0.894736842em;
margin-top : 10px;
margin-left : 10px;
}
#right .block .content {
font-size : 1.3em;
margin-left : 10px;
margin-bottom : 10px;
}
#right a:hover {
text-decoration : none;
border-bottom : 1px dashed #BF702A;
}
#navigation {
font-size : 1.2em;
margin : 10px;
clear : both;
background : #A6592D;
background: -webkit-gradient(linear, 60% 0%, 100% 0%, from(rgba(153,102,51,1.0)), to(rgba(153,102,51,0.1)));
background: -moz-linear-gradient(center left, rgba(166,89,45,1.0), rgba(166,89,45,0.3));
margin-bottom : 10px;
padding : 5px 0 10px 0;
border : 1px solid #F2A341;
}
#navigation a {
color : white;
}
#navigation a:hover {
text-decoration : blink;
border-bottom : 4px double #ffffff;
background : url("images/a-background-one.png") repeat-y center center;
}
#navigation ul li + li {
border-left:1px solid #000;
}
#footer {
width : 950px;
margin : 10px;
clear : both;
background : url("images/footer-background.png") repeat-y center center;
}
.no-footer-four #footer {
background : url("images/footer-background-two.png") repeat-y center center;
}
#footer .block-title {
color : #A6592D;
font : bold 1.9em "Courier New", Courier, monospace;
margin-bottom : 0.894736842em;
margin-top : 10px;
margin-left : 10px;
}
#footer .block .content {
font-size : 1.3em;
margin-left : 10px;
margin-bottom : 10px;
}
#footer a:hover {
text-decoration : none;
border-bottom : 1px dashed #BF702A;
}
#footer-one {
width : 210px;
margin-right : 10px;
margin-bottom : 10px;
float : left;
padding : 0 10px 0 10px;
}
.no-footer-four #footer-one {
width : 290px;
margin-right : 10px;
margin-bottom : 10px;
float : left;
}
#footer-two {
width : 210px;
margin-right : 10px;
margin-bottom : 10px;
float : left;
padding : 0 10px 0 10px;
}
.no-footer-four #footer-two {
width : 290px;
margin-right : 10px;
margin-bottom : 10px;
float : left;
padding : 0 10px 0 10px;
}
#footer-three {
width : 210px;
margin-right : 10px;
margin-bottom : 10px;
float : left;
padding : 0 10px 0 10px;
}
.no-footer-four #footer-three {
width : 290px;
margin-bottom : 10px;
float : left;
padding : 0 0 0 10px;

}
#footer-four {
width : 210px;
margin-bottom : 10px;
float : left;
padding : 0 10px 0 10px;
}
#footer-message {
width : 950px;
margin : 0 auto;
font-size : 1.2em;
background : #A6592D;
background: -webkit-gradient(linear, 0 0%, 0 100%, from(rgba(166,89,45,1.0)), to(rgba(166,89,45,0.5)));

color : white;
text-align : center;
clear : both;
padding-bottom : 10px;
border : 2px solid #BF702A;
-moz-border-bottom-colors: #BF702A #734631;
-moz-border-top-colors:   #BF702A #734631;
-moz-border-left-colors:   #BF702A #734631;
-moz-border-right-colors:  #BF702A #734631;
}
#footer-message a {
color : #ffffff;
}
input[type=text]:hover {  
background-color:#ffffcc;  
border: 1px solid #000000;  
} 
input[type=password]:hover {  
background-color:#ffffcc;  
border: 1px solid #000000;   
} 
textarea:hover {  
background-color:#ffffcc;  
border: 1px solid #000000;   
} 

/* admin */

.messages {
font-size : 1.2em;
background : #BF702A;
color : #ffffff;
margin-bottom : 1.41666667em;
margin-top : 1.41666667em;
}
.messages ul {
margin-left : 20px;
}
#switchtheme-switch-form {
font-size : 1.2em;
text-align : center;
}
#switchtheme-switch-form .description {
font-size : 1em;
}
#switchtheme-switch-form label {
font-weight : normal;
font-style : italic;
}
#switchtheme-switch-form .form-submit {
background : #ffffff;
color : #f00000;
border : 1px solid #f00000;
}
#first-time  {
font-size : 1.2em;
line-height : 1.41666667em;
margin-left : 20px;
}
#admin-wrapper {
width : 960px;
background : #C0BDAC;
margin : 10px auto;
background : #f0f0f0 ;
border : 1px solid #f00000;
padding-top : 1px;
}
#admin-wrapper #content {
font-size : 1.2em;
line-height : 1.41666667em;
background : #ffffff;
}
#admin-wrapper #container .help {
font-size : 1em;
}
#admin-wrapper #container .description {
font-size : 1em;
}
#admin-wrapper #container  .block {
font-size : 1em;
}
#admin-wrapper #content #content-content .block {
border : none;
}
#admin-wrapper #content #content-content .block-title {
font : bold 1em "Courier New", Courier, monospace;
}
#admin-wrapper #content #content-content .block .content {
font-size : 1em;
}

#designer {
width : 960px;
margin : 10px auto;
padding-bottom : 10px;
font-size : 1.1em;
text-align : right;
color : #cccccc;
}
#designer a {
color : #cccccc;
}

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */